
<md-card>

  <md-input-container class="full-width">
    <input md-input
           [(ngModel)]="privkey"
           placeholder="Privkey"
           (change)="privkeyUpdate()"
           (keyup)="privkeyUpdate()"
           align="start"/>
  </md-input-container>

  <md-card class="align-left" *ngIf="srcAddr">
    <md-card-content>
      <div>Related Address: {{srcAddr}}</div>
      <div *ngIf="unspents">Unspent Outputs: {{unspents.length}}</div>
      <div *ngIf="unspents">Unspent Value: {{sumValue(unspents)}}</div>
    </md-card-content>
  </md-card>

  <md-input-container class="full-width">
    <input md-input
           [(ngModel)]="address"
           placeholder="Destination Address"
           (change)="updateSummary()"
           (keyup)="updateSummary()"
           align="start"/>
  </md-input-container>

  <md-input-container class="full-width">
    <input md-input
           type="number"
           min="0"
           step="0.0001"
           max="0.005"
           [(ngModel)]="networkFee"
           placeholder="Network Fee"
           (change)="updateSummary()"
           (keyup)="updateSummary()"
           align="start"/>
  </md-input-container>

  <md-slide-toggle [(ngModel)]="doServiceFee"
                   (change)="updateSummary()"
                   mdTooltip="If you like this tool, please pay a little fee within this transaction, because it will help developing and maintaing this and other tools.">
    Pay Service Fee
  </md-slide-toggle>

  <md-card *ngIf="receiveAmount && !txHash">
    <md-card-title>Transaction Summary</md-card-title>
    <md-card-content>
      {{receiveAmount}} BTC => {{address}}
    </md-card-content>
  </md-card>

  <md-card *ngIf="txHash">
    <md-card-title>Transaction Sent</md-card-title>
    <md-card-content>
      <a href="https://blockchain.info/pl/tx/{{txHash}}" target="_blank">
        https://blockchain.info/pl/tx/{{txHash}}
      </a>
    </md-card-content>
    <md-card-footer>
      <button md-raised-button
              color="accent"
              (click)="txHash = ''">
        OK
      </button>
    </md-card-footer>
  </md-card>

  <div class="actions">
    <button md-raised-button
            color="accent"
            (click)="clean()">
      Clean
    </button>

    <button md-raised-button
            color="primary"
            (click)="send()"
            [disabled]="!receiveAmount || txHash">
      Send Transaction
    </button>
  </div>

</md-card>
