
<md-input-container class="full-width">
  <textarea mdInput
            [(ngModel)]="msg"
            placeholder="message"
            (ngModelChange)="changeMsg()"
            rows="5"></textarea>
</md-input-container>

<md-input-container class="full-width">
  <input mdInput
         [(ngModel)]="senderPriv"
         placeholder="Sender Privkey"
         (ngModelChange)="changeSenderPriv()"
         align="start"/>
</md-input-container>

<md-input-container class="full-width">
  <input mdInput
         [(ngModel)]="recipientPub"
         placeholder="Recipient Pubkey"
         (ngModelChange)="changeRecipientPub()"
         align="start"/>
</md-input-container>


<p>Encrypted Message</p>

<md-input-container class="full-width">
  <textarea mdInput
            [ngModel]="encryptedMsg"
            placeholder="Encrypted Message"
            rows="8"
            readonly></textarea>
</md-input-container>


<div class="actions">
  <button md-raised-button color="accent" (click)="clear()">Clean</button>
</div>
