
<md-input-container class="full-width">
  <textarea mdInput
            [(ngModel)]="msg"
            placeholder="message"
            (keyup)="update()"
            (change)="update()"
            rows="5"></textarea>
</md-input-container>

<md-input-container class="full-width">
  <input mdInput
         [(ngModel)]="senderPriv"
         placeholder="Sender Privkey"
         (keyup)="update()"
         (change)="update()"
         align="start"/>
</md-input-container>

<md-input-container class="full-width">
  <input mdInput
         [(ngModel)]="recipientPubkey"
         placeholder="Recipient Pubkey"
         (keyup)="update()"
         (change)="update()"
         align="start"/>
</md-input-container>


<p>Encrypted Message</p>

<md-input-container class="full-width">
  <textarea mdInput
            [(ngModel)]="encryptedMsg"
            placeholder="Encrypted Message"
            rows="8"
            readonly></textarea>
</md-input-container>


<div class="actions">
  <button md-raised-button color="accent" (click)="reset()">Clean</button>
</div>
