
<md-card>

  <md-input-container class="full-width">
    <textarea mdInput
              [(ngModel)]="msg"
              placeholder="message"
              (keyup)="keyup()"
              rows="5"></textarea>
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput
           [(ngModel)]="privkey"
           placeholder="privkey"
           (keyup)="keyup()"
           align="start"/>
  </md-input-container>

  <p>Signed Message</p>

  <md-input-container class="full-width">
    <textarea mdInput
              [(ngModel)]="signedMsg"
              placeholder="signed message"
              rows="8"
              readonly></textarea>
  </md-input-container>

</md-card>
