
@import '../../../node_modules/@angular/material/core/style/variables';

nav {
  width: calc(100% + 48px);
  margin: -24px -24px 16px !important;
}

@media ($mat-xsmall) {
  nav {
    width: calc(100% + 32px);
    margin: 0 -16px !important;
    margin-top: -24px !important;
  }
}

[md-tab-link] {
  width: 50%;
}
