<md-sidenav-container>

  <md-sidenav #sidenav
              mode="over"
              class="app-sidenav"
              align="start">

    <md-list>
      <md-list-item>
        <a routerLink="/">home</a>
      </md-list-item>
      <md-list-item>
        <a routerLink="/sign-message">sign message</a>
      </md-list-item>
      <md-list-item>
        <a routerLink="/check-signature">check signature</a>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <span>Coin Tools</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <router-outlet></router-outlet>

</md-sidenav-container>
