
md-sidenav-container {
  height: 100%;
}

.app-sidenav {
  min-width: 250px;
}

.more {
  visibility: hidden;
}

[routerLink] {
  cursor: pointer;
}

md-list-item {
  cursor: pointer;
}

a:focus,
a:active {
  outline: 0;
  border: none;
}
