<ng2-slim-loading-bar></ng2-slim-loading-bar>

<md-sidenav-container>

  <md-sidenav #sidenav
              mode="over"
              class="app-sidenav"
              align="start"
              (swipeleft)="sidenav.close()">

    <md-list>
      <md-list-item *ngFor="let tool of tools">
        <a routerLink="/{{tool.route}}"
           (click)="sidenav.close()">{{tool.name}}</a>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <span>{{title}}</span>

    <button md-icon-button
            class="more"
            [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>

  <router-outlet></router-outlet>

</md-sidenav-container>
